.pentaho-viz-calc-sample-style.component-icon-small {
  background-image: url("./images/icon-small.png");
}

.pentaho-viz-calc-sample-style.component-icon-medium {
  background-image: url("./images/icon-medium.png");
}

.pentaho-viz-calc-sample-style.component-icon-large {
  background-image: url("./images/icon-large.png");
}

.pentaho-viz-calc-sample-style.component-icon-landscape {
  background-image: url("./images/icon-landscape.png");
}